<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link type="text/css" href="css/styles.css" rel="stylesheet">
  <title>Home</title>
</head>

<body>
  <%- include('partials/navigation', { pagePath: '' }) %>
  <main>
    <h1>contact</h1>
    <p>
      <a href="mailto:brycemcole@pm.me">
        brycemcole@pm.me
      </a>
    </p>
    <p>
      <a href="https://github.com/brycemcole">
        github.com/brycemcole
      </a>
    </p>
    <p>
      <a href="https://www.linkedin.com/in/bryce-cole-832690222/">
        linkedin.com/in/bryce-cole-832690222/
      </a>
    </p>
    <p>
      <a href="https://getcore.dev/user/bryce">
        getcore.dev/user/bryce
      </a>
    </p>
    <p>
      <a href="https://twitter.com/sequioa46">
        twitter.com/sequioa46
      </a>
    </p>
  </main>
</body>

</html>