<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link type="text/css" href="css/styles.css" rel="stylesheet">
  <title>Home</title>
</head>

<body>
  <%- include('partials/navigation', { pagePath: '' }) %>
  <main>
    <h1>bryce cole</h1>
    <p>Hi, I'm Bryce. I'm a software engineer and I love to build things.</p>
  </main>
</body>

</html>