<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link type="text/css" href="css/styles.css" rel="stylesheet">
  <title>Home</title>
</head>

<body>
  <%- include('partials/navigation', { pagePath: '' }) %>
  <main>
    <span class="flex flex-row center space-between">
      <h1>bryce cole</h1>
      <p>new york, ny</p>
    </span>
    <p> i'm a software engineer and i love to build things.</p>
    <p>i'm working on <a href="https://getcore.dev/">core</a>.</p>
    <p>i'm currently learning about artifical intelligence and how to use it to build cool things.</p>
  </main>
</body>

</html>