<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link type="text/css" href="css/styles.css" rel="stylesheet">
  <title>Home</title>
</head>

<body>
  <%- include('partials/navigation', { pagePath: '' }) %>
  <main>
    <span class="flex flex-row center space-between">
      <h1>bryce cole</h1>
      <p>New York, NY</p>
    </span>
    <p> I'm a software engineer and I love to build things.</p>
    <p>I'm currently working on <a href="https://getcore.dev/">core</a>.</p>
    <p>I'm currently learning about AI and how to use it to build complex solutions and systems using new technologies.</p>
  </main>
</body>

</html>