<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link type="text/css" href="css/styles.css" rel="stylesheet">
  <title>Bryce</title>
</head>

<body>
  <%- include('partials/navigation', { pagePath: '' }) %>
  <main>
    <h1>experience</h1>
    <h2>education</h2>
    <education>
      <span class="flex flex-row center space-between">
        <p class="no-margin"><strong>CUNY</strong></p>
        <p class="no-margin">2021-2026</p>
      </span>
      <p class="no-margin">Computer Science</p>
    </education>


    <h2>work experience</h2>
    <experience>
      <span class="flex flex-row center space-between">
        <p class="no-margin"><strong>BlackRock</strong></p>
        <p class="no-margin">2025</p>
      </span>
      <p class="no-margin">Software Engineer Intern</p>
    </experience>
    <experience>
      <span class="flex flex-row center space-between">
        <p class="no-margin"><strong>BlackRock</strong></p>
        <p class="no-margin">2024</p>
      </span>
      <p class="no-margin">Software Engineer Intern</p>
    </experience>
    <experience>
      <span class="flex flex-row center space-between">
        <p class="no-margin"><strong>Apple</strong></p>
        <p class="no-margin">2022-24</p>
      </span>
      <p class="no-margin">Specialist</p>
    </experience>

    <h2>projects</h2>
    <div class="project-container">
      <div class="project">
        <span><strong>core</strong></span>
        <a href="https://getcore.dev/">
          link
        </a>
        <p>
          <a href="https://github.com/getcore-dev/core">
            github.com/getcore-dev/core
          </a>
        </p>
        <p>
          core is a tool for professionals in every field to leverage the power of AI to accelerate their job hunt.
        </p>
      </div>
    </div>

  </main>
</body>

</html>